#newsletter{
  padding:35px 0 15px 0;
  background:#ebebeb;;
}
#newsletter.mail{
  padding-right: 20px;
}
#newsletter h2{
  font-family: 'Crimson Text', serif;
  font-size: 20px;
  font-style: italic;
  text-transform: none;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.mention p{
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #999999;
}
#advantage{
  padding:35px 0 
}
