h1,h2,h3,h4{
  font-family:'Oswald',sans-serif;
  color:#444;
  text-transform:uppercase;
  font-weight:400;
  letter-spacing:1px
}
#newlester h2{
  font-family: 'Crimson Text' ,serif;
  font-style: italic;
  text-transform: none;
  margin-bottom: 10px;
}
